body {
    display: grid;
    place-items: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #2C2C2C;
    color: white;
    
}

.title {
    font-size: 35px;
    font-family: "Funnel Display", sans-serif;
    text-align: center;
}
.main{
    display:flex;
    gap: 200px;
}

.header {
    padding: 5px;
    text-align: left;
    background: #274965;
    color: rgb(255, 232, 192);
    font-size: 20px;
    white-space: nowrap;
}

.headerLinks {
    color: #D6FFFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-left: 20px;
}



.left h3 {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.tralaleroImage {
    width: 200px;
    user-select: none;
    border-radius: 15px;
    margin:15px;

}

.tralaleroImage:hover {
    opacity: 0.9;
    cursor: pointer;
}

.tralaleroImage:active{
    opacity:0.8;
    transform:scale(1.1);

}

.tralaleroCount {
    margin-left: 10px;
     font-family: "Roboto", sans-serif;
}

.top-section {
    display:flex;
    white-space: nowrap;
    float:middle;
    justify-content: space-between;
}

.bottom-section {
    
}

.upgradeName {
    display:inline-block;
    padding:10px
}

.upgrades{
    
    border: 3px solid #697b7f/* skyblue*/;
    padding:10px 5px;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    width: 400px;
    height: 70px;
    margin:15px 0px;
    background: #4d4d4d;

    position: relative;
    justify-content:space-between ;
    align-items: center;
    display:flex;
    float: middle;
}

.upgrades:hover {
    opacity:0.9;
    cursor:pointer;
}

.upgradeImage {
    width:65px;
    border-radius: 10px;
    user-select: none;
    margin:4px;

    
}

.currencyImage {
    width:18px;
    border-radius: 8px;
    padding:4px;
    user-select: none;

}

.costInfo {
    display:flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 6px;
    justify-content:space-between ;
    
}

.tooltip {
    width: 50%;
    height:80%;
    background-color: #4d4d4d;
    color: rgb#D6FFFF;
    text-align: center;
    padding: 10px 5px;
    border-radius: 7px;
    border: 3px solid #697b7f;
    margin:0px;

    position: absolute;
    z-index: 1;
    top:50%;
    left: 100%;
    translate: 0% -50%;

    opacity:0;
    transition: opacity 0.25s;

}

.upgrades:hover .tooltip{
    opacity:1;
}

.liriliLarila {
    border: 3px solid #33624c;
}

.brrBrrPatapim {
    border: 3px solid #adad9a;
}
.bombGus {
    border: 3px solid #4c4e5b;
}

.enhancements {
    border: 3px solid #6b4d4d;
    /* skyblue*/;
    padding:10px 5px;
    border-radius: 7px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 70px;
    margin:15px 0px;
    background: #4d4d4d;

    position: relative;
    justify-content:space-between ;
    align-items: center;
    display:flex;
    float: middle;
}

.enhancements:hover {
    
}